<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaan.tabcorp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="kaan.tabcorp.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_fortune_cat"
        android:label="@string/app_title"
        android:roundIcon="@drawable/ic_fortune_cat"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tabcorp.NoActionBar">

        <activity
            android:name="kaan.tabcorp.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tabcorp.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>